# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Extra Files
Project1
libtool
*.log

#Exceptions
!libSDL_mixer.a
!libSDL_mixer.la
!libSDL_net.a
!libSDL_net.la
